<div class="contact">
    <h1>Contact</h1>
  
    <address>
      Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
      Visit us at:<br>
      MidleEarthTravel.com<br>
      Box 564, Langwell<br>
      Forodwaith
    </address>
  
    <div class="map-address">
      <img src="https://i.pinimg.com/originals/99/93/72/9993727dc7fa3809427d5f4e9eef88a4.jpg" />
      <mat-icon class="pin">room</mat-icon>    
    </div>
  
    <div class="add-testimonial">  
      <div class="add-fields">
        <label>Name:
          <input placeholder="Your name" [(ngModel)]="name" />    
        </label>      
        <label>Testimonial:    
          <input placeholder="Your testimonial" [(ngModel)]="message" />
        </label>
      </div>
      
      <fieldset class="preview"> 
        <legend> Preview </legend>      
        <p> Name: {{ name }} </p>
        <p> Testimonial: {{ message }} </p>      
        <hr />      
        <div>
          <button 
            class="btn"
            (click)="destinationsService.addTestimonial(name, message)">
            Share your experience
          </button>
        </div>
      </fieldset>  
    </div>
  
    <div class="testimonials">
      <h3>Testimonials</h3>
      <hr />
      <div class="testimonial" *ngFor="let testimonial of destinationsService.testimonials">
        <div class="message"> "{{ testimonial.message }}" </div>
        <div class="name"> {{ testimonial.name }} </div>
      </div>
    </div>
  </div>