<nav class="nav-bar">
  <span class="logo">{{ name }}</span>
</nav>

<div class="destinations-container">
  <div class="destination">
    <div class="display-as-card">
      <div class="destination-title"> {{ destination.name }} </div>
      <div class="destination-details">
        <div class="label">Summary</div>
        <div> {{ destination.summary }}</div>
        <div class="label">Description</div>
        <div> {{ destination.description }} </div>
        <div class="label">Price</div>
        <div> {{ destination.price }} $ </div>
      </div>
    </div>
  </div>
</div>