<nav class="nav-bar">
  <span class="logo">{{ name }}</span>
</nav>

<div class="destinations-container">
  <div *ngFor="let destination of destinations" class="destination">
    <div class="display-as-card" *ngIf="!isList">
      <div class="destination-title"> {{ destination.name }} </div>
      <div class="destination-details">
        <div class="label">Summary</div>
        <div> {{ destination.summary }}</div>
        <div class="label">Description</div>
        <div> {{ destination.description }} </div>
        <div class="label">Price</div>
        <div> {{ destination.price | currency: 'USD' }} </div>
      </div>
    </div>
    
    <div class="display-as-list" *ngIf="isList">
      <span class="title"> {{ destination.name }} </span> - 
      <span class="summary"> {{ destination.summary }} </span>
      <span class="price"> {{ destination.price | currency: 'USD' }} $</span>
    </div>
   
  </div>
</div>